body{
    background-image: url(images/pretty.jpeg);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}
#shops{
width: 100% auto;
opacity: 0.6;
}
.new{
    background-image: url(images/wgreyjs.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
     background-size: cover;
     width:100%; 
    height:720px ;
    background-color: rgb(181, 72, 90);
}
.women{
    margin-top:40px;
    
    width:100%;
    height:540px ;
    background-color: pink;
}
.men{
    background-image: url(images/boyshoe.jpeg);
    margin-top: 155px;
    width:100% ;
    height:700px ;
    background-color: rgb(156, 128, 132);
}
button{
    background-color: rgb(9, 3, 3);
    color: rgb(199, 176, 45);
    width: 25%;
    height: 50px;
align-items: center;
border-radius: 10px;
cursor: pointer;

}
button:hover{
    filter: opacity(0.7);
}
button:active{
    transform: translate(0,0.3rem);
}

.press{
    width: 100%;
  }